@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --main: rgb(45, 38, 92);
    --dark-gray: rgb(66, 65, 74);
    --light-gray: rgb(228, 227, 238);
}

.home {
    padding: 100px 0 0 0;
    background: rgba(255, 124, 124, .05);
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    box-sizing: border-box;
}

.home h1 {
    color: var(--dark-gray)
}

.home .main {
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

.search, .content-box {
    width: 500px;
}

.home .query-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 25px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
}

.home .query-list-item {
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.home .query-list-item:hover {
    border: 1px solid var(--main);
    color: var(--main);
}

.home .active {
    border: 1px solid var(--main);
    color: var(--main);
    cursor: default;
}

.search-bar input {
    padding: 6px 9px;
    border: none;
    border-bottom: 1px solid var(--main);
    background: none;
    outline: none;
    margin-right: 15px;
    font-size: 1.25rem;
}

.search-bar button {
    padding: 12px 24px;
    border: none;
    background: var(--main);
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.search-bar button:hover {
    opacity: .75;
}

.search-list li {
    list-style-type: none;
    margin: 5px 0;
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
}

.search-list a:hover, .search-list a:focus {
    background: var(--main);
    color: white;
}

.search-list .focus {
    background: blue;
}

/* Display Spell */
.spell-container {
    display: flex;
    column-gap: 50px;
}

.spell-container span {
    font-weight: 600;
    display: inline-block;
    margin-right: 5px;
}

.spell-damage {
    padding-left: 15px;
}

.spell-damage .dark {
    background: var(--light-gray);
}

.spell-damage table {
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 10px;
}

.home .spell-damage td {
    padding: 5px 10px;
}